<div class="outerContainer">
  <div *ngIf="isForGuessing" fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="space-around center" class="container-ctrl">
    <div class="char">{{selectedValue}}</div>
    <div class="green" [class.selected]="greenON" (click)="toggleGreen()"></div>
    <div class="red" [class.selected]="redON" (click)="toggleRed()"></div>
    <div class="erase" [class.erase-selected]="eraseON" (click)="toggleErase()">
      <img width="32" height="32" src="/assets/svg/eraser-fill.svg"/>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="3px" class="container">
    <ng-container *ngFor="let alphabet of alphabets.slice(0,13); index as i">
      <div [class.disabled]="wasClicked(i)" class="col" [class.selected]="selectedValue === alphabet"
      [class.col-red]="alphsInRed[i]" [class.col-green]="alphsInGreen[i]"
      (click)="onClick($event)">
        {{alphabet}}
      </div>
    </ng-container>
  </div>
  <div fxLayout="row" fxLayoutGap="3px" class="container">
    <ng-container *ngFor="let alphabet of alphabets.slice(13,26); index as i">
      <div [class.disabled]="wasClicked(i+13)" class="col" [class.selected]="selectedValue === alphabet"
      [class.col-red]="alphsInRed[i+13]" [class.col-green]="alphsInGreen[i+13]"
      (click)="onClick($event)">
        {{alphabet}}
      </div>
    </ng-container>
  </div>
</div>