<div class="card" style="width: 18rem;">
  <!-- <img src="../../../assets/small-title/word4u.png" class="card-img-top" alt="word4u"> -->
  <div class="card-header">
    <!-- <div class="card-header">
      word4u
    </div> -->
    <p class="card-text"> A simple 2 player game with fun ride guaranteed!!! Have fun buddies!!!</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-body">
    <h5 class="card-title">Player Names</h5>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
          viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
        </svg>
      </span>
      <input type="text" [(ngModel)]="player1Name" class="form-control" name="player1" placeholder="Player 1"
        aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
          viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        </svg>
      </span>
      <input type="text" [(ngModel)]="player2Name" class="form-control" name="player2" placeholder="Player 2"
        aria-describedby="addon-wrapping">
    </div>
    <br>
    <div class="d-grid gap-2">
      <button [disabled]="player1Name.length == 0 || player2Name.length == 0" [routerLink]="'player1'"
        [queryParams]="{player1: player1Name, player2: player2Name}" [skipLocationChange]= "false" class="btn btn-primary"
        type="button">Start</button>
    </div>
  </div>
</div>