<div class="card" style="width: 18rem;">
  <div class="card-header">
    <div class="row">
      <div class="col-10">About word4u</div>
      <div class="col-1"><svg (click)="back()" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
        fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
        <path
          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
      </svg></div>
  </div>
  </div>
  
  <p>
    <span>
      Player1 thinks of a <b>4 letters word</b> <i>(For example WORD)</i> and enter it in Player1 screen<br />
      <span style="color:#009fe3;">NOTE: Word should not have repeative letters</span><br /><br />
      Player2 has to guess the word.<br /><br />
      If the guess matches game ends.<br /><br />
      Otherwise it shows the number of <b>matching letters</b> with actual word.<br />
      <i>For Example Player2 guessed BIRD, it has <b>two</b> matching letters with WO<b>RD</b>.</i><br /><br />
      Then Players can exchange thier roles and who guesses with minimum chances is the <b><span
          style="color:#009fe3;">WINNER</span></b>
    </span>
  </p>
  <div class="card-footer">
    
  </div>
</div>