.card{
    align-items:  center;
    min-width: fit-content;
}
p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
svg{
    align-content: center;
}
.card-footer {
    padding: .5rem 1rem;
    background-color: white;
    border-top: 0px;
}
.card-header{
    width: 100%
}